.container_PopupNewTodo{
    display: none;
}

.closePopup{
    display: none;
}
  


@media (max-width: 670px) {

    .container_PopupNewTodo{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 90vw;
        min-width: 320px;
        height: 90vh;

        box-sizing: border-box;
        background-color: white;

        gap: 5px;
        padding: 30px;
        padding-top: 10px;
        padding-bottom: 10px;

        border-radius: 20px;
        box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
    }

    .closePopup{
    display: flex;
    font-size: 20px;
    font-weight: bolder;
    margin: 0px;
    width: 45px;
    height: 45px;
    background-color: rgb(255, 200, 200);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
    right: -10px;
    top: -10px;
    cursor: pointer;
    }

    .img_grande{
        max-width: 250px;
        padding-top: 60px;
    }
  
  }