body {
  /* box-sizing: border-box; */
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(29,51,75);
  background: linear-gradient(180deg, rgba(29,51,75,1) 9%, rgba(0,212,255,1) 100%); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root{
  width: 95%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  padding: 2%;
  
}

.PopupNew{
  display: none;
}



@media (max-width: 670px) {
  
  body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0;
  }

  .root{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0;
  }

  .PopupNew{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 2; 
    /* visibility: visible; */
  }

}
