.h2_NewTasks{
    margin: 10px;
    font-size: 30px;
    font-weight: 900;
    background: linear-gradient(120deg, rgba(2,0,36,1) 10%, rgba(0,212,255,1) 40%); 
    background-clip: text;
    color: transparent;
    text-align: left;
}



@media (max-width: 670px) {
  
    .h2_NewTasks{
        font-size: 40px;
        text-align: center;
    }
  
}