.container_PopupNewTodo{
    display: none;
  }


  @media (max-width: 670px) {

    .container_PopupNewTodo{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 90vw;
        min-width: 320px;
        height: 90vh;

        box-sizing: border-box;
        background-color: white;

        gap: 5px;
        padding: 30px;
        padding-top: 10px;
        padding-bottom: 10px;

        border-radius: 20px;
        box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
      }
  
  }