.img_grande{
  width: 100%;
  max-width: 300px;
  place-self: center;
  padding-top: 10px;
}

.container_left{
  box-sizing: border-box;
  background-color: white;
  height: 550px;
  width: 35%;
  min-width: 320px;
  height: 540px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
}

.container_right{
  box-sizing: border-box;
  background-color: white;
  height: 550px;
  width: 35%;
  min-width: 320px;
  height: 540px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
}
