body {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(29,51,75);
  background: linear-gradient(180deg, rgba(29,51,75,1) 9%, rgba(0,212,255,1) 100%); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  width: 95%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  padding: 2%;
  
}
